---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Beverage Story">
  <main>
    <h1><span class="text-gradient">Beverage</span> Story</h1>

    <h1>Posts</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
    </ul>
  </main>
</Layout>
