---
import Social from "./Social.astro";
---

<footer>
  <p>
    All rights reserved &copy 2024. Site by Analytical Bull. Learn more on
    <Social platform="github" username="nackless" />
    <Social platform="x" username="BeverageStory" />
  </p>
</footer>

<style>
  p {
    margin: auto;
    /* padding: 1rem; */
    width: 800px;
    max-width: calc(100% - 2rem);
    /* color: black;
    font-size: 1.25rem;
    line-height: 1.5; */
  }
</style>
