---
const platform = "github";
const username = "nackless";
---

<footer>
  <p>
    All rights reserved c 2024. Site by Analytical Bull. Learn more on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a>
  </p>
</footer>
