---
import Social from "./Social.astro";
---

<footer>
  <p>
    All rights reserved &copy 2024. Site by Analytical Bull. Learn more on
    <Social platform="github" username="nackless" />
    <Social platform="x" username="BeverageStory" />
  </p>
</footer>
