---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";

import bsLogo from "../images/bsLogo.png";
---

<header>
  <div class="logo"><Image width={35} src={bsLogo} alt="bev-story" /></div>

  <div><Navigation /></div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 1%;
  }

  .logo {
    cursor: pointer;
  }
</style>
