---
import Navigation from "./Navigation.astro";
import { Image } from "astro:assets";

import bsLogo from "../images/bsLogo.png";
---

<header>
  <div class="logo left-content">
    <Image width={35} src={bsLogo} alt="bev-story" />
  </div>
  <div class="sitename center-content">
    <h1>
      <span class="text-gradient">Beverage</span> Story
    </h1>
  </div>

  <div class="right-content"><Navigation /></div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 1%;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  /* .left-content,
  .right-content {
    flex-basis: 0;
    flex-grow: 1;
  }

  .center-content {
    flex-basie: 0;
    flex-grow: 2;
  } */

  .logo {
    cursor: pointer;
  }
</style>
