---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title="Beverage Story">
  <h1>{frontmatter.title}</h1>
  <p>by {frontmatter.author}</p>
  <slot />
</Layout>
